.wrapper {
    width: 100%;
}
.container {
    position: relative;
    margin-top: 16px;
    width: 100%;
    display: flex;
    font-size: 14px;
    align-items: center;

    span {
        color: #919eab;
        font-size: 10.5px;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 9px;
        text-align: left;
    }
}
.inputText {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 1px 0;
    border-color: #000;
    font-family: Lusitana, serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

    &:focus {
        outline: none;
    }

    &:focus,
    &.notEmpty {
        + .label {
            transform: translateY(-24px);
            color: #5174d5;
            font-size: 11px;
            line-height: 18px;
            text-transform: uppercase;
        }
        border-color: #5174d5;
    }
}
.label {
    position: absolute;
    bottom: 11px;
    font-family: Lusitana, serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    text-transform: capitalize;
    transition: transform 0.4s ease-in-out;
}
.annote,
.alertMsg {
    display: none;
    font-size: 10.5px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 9px;
    text-align: left;
    margin: 5px 0;

    &.active {
        display: block;
    }
}

.annote {
    color: #919eab;
    &.checkbox{
        margin-left: 20px;
    }
}

.alertMsg {
    color: var(--primary-background-color);
}
