.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            text-transform: uppercase;
        }

        .producers {
            display: flex;
            gap: 10px;

            .producer {
                text-decoration: none;
                color: #444;
                font-size: 13px;
                background-color: #f3f4f6;
                border: 1px solid #ccc;
                border-radius: 10px;
                padding: 5px 10px;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

@media(max-width:450px) {
    .wrapper {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            overflow-x: scroll;
            padding: 10px 0;

            .producers {
                display: flex;
                gap: 10px;

                .producer {
                    font-size: 12px;
                    width: max-content;
                }
            }
        }
    }
}