.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
    .icon {
        font-size: 30px;
        color: black;
    }
    .title {
        font-size: 18px;
        font-weight: 600;
        margin: auto;
    }
}

label {
    margin-left: 5px;
}

input[type='checkbox'] {
    outline: none;
    width: 16px;
    height: 16px;
    border: 1px solid;
}

.button {
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: var(--primary-background-color);
    color: white;
    text-decoration: none;
    cursor: pointer;
    &.disable {
        background-color: silver;
        color: #717171;
        cursor: not-allowed;
    }
}

.groupBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    .selectAll {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
}

.listProducts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .productItem {
        display: flex;
        border-radius: 10px;
        padding: 10px;
        background-color: white;

        .checkBoxGroup {
            display: flex;
            align-items: flex-start;
            img {
                width: 100px;
                height: 100px;
            }
        }

        .info {
            width: 100%;
            margin-left: 10px;
            & > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;
                font-size: 16px;

                .name {
                    width: 70%;
                    text-decoration: none;
                    color: black;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .icon {
                    cursor: pointer;
                }
                .newPrice {
                    color: var(--primary-background-color);
                    font-weight: 500;
                }
                .oldPrice {
                    text-decoration: line-through;
                    margin-left: 3px;
                    font-size: 13px;
                    color: #707070;
                }
            }
        }
    }
}

.totalPayment {
    position: sticky;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(145, 158, 171, 0.239);
    box-shadow: 0 -4px 20px -1px rgba(40, 124, 234, 0.15);
    padding: 10px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: white;
    .totalPrice {
        color: var(--primary-background-color);
        font-weight: 500;
    }
}

.cartEmpty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    span {
        margin: 16px 0;
        text-align: center;
        font-size: 16px;
    }
}
.buttonEmpty {
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: var(--primary-background-color);
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
