.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        :nth-child(3){
            margin-bottom: 10px;
        }
    }
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
    .icon {
        font-size: 30px;
        color: black;
    }
    .title {
        font-size: 18px;
        font-weight: 600;
        margin: auto;
    }
}

.tabs {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 10px;
    margin: 0 0 10px;
    position: sticky;
    top: var(--layout-header-height);
    background-color: #f4f6f8;
    z-index: 987;

    .tab {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        color: #919eab;
        font-weight: 600;
        border-bottom: 3px solid #919eab;
        flex-basis: 49%;
        padding: 5px 0;
        cursor: pointer;
        &.active {
            color: var(--primary-background-color);
            border-color: var(--primary-background-color);
        }
    }
}

.button {
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: var(--primary-background-color);
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.blockWrapper {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(145, 158, 171, 0.239);
    padding: 20px;
    .buttonDropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        padding: 1px 6px;
        cursor: pointer;
        color: #919eab;
    }

    .deliveriTabs {
        display: flex;
        align-items: center;
        background-color: white;

        .deliveriTab {
            background-color: #f1f1f1;
            display: flex;
            align-items: center;
            padding: 15px 0 15px 20px;
            font-size: 15px;
            color: #919eab;
            flex-basis: 50%;
            cursor: pointer;

            &.active {
                background-color: white;
            }
        }
    }
}

.listProducts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .productItem {
        display: flex;
        padding: 12px;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(145, 158, 171, 0.24);
        }

        img {
            width: 100px;
            height: 100px;
        }

        .info {
            width: 100%;
            margin-left: 10px;
            & > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;
                font-size: 16px;

                .name {
                    width: 70%;
                    text-decoration: none;
                    color: black;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .icon {
                    cursor: pointer;
                }
                .newPrice {
                    color: var(--primary-background-color);
                    font-weight: 500;
                    margin: auto;
                }
                .oldPrice {
                    text-decoration: line-through;
                    margin-left: 3px;
                    font-size: 13px;
                    color: #707070;
                }
            }
        }
    }
}

.totalPayment {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 10px 15px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(145, 158, 171, 0.239);
    box-shadow: 0 -4px 20px -1px rgba(40, 124, 234, 0.15);
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    .priceTemp {
        display: flex;
        justify-content: space-between;
    }
    .totalPrice {
        color: var(--primary-background-color);
        font-weight: 500;
    }
}

.formGroup {
    display: flex;
    gap: 20px;
}