.title {
    margin-top: 30px;
}
.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7c8691;
    font-size: 15px;
    gap: 10px;
    margin: 10px 0;
    position: relative;
    img {
        height: 40px;
        width: 40px;
    }

    span {
        color: black;
        font-weight: 400;
    }
    .button {
        min-width: fit-content;
        height: 100%;
        padding: 6px 12px;
        font-size: 14px;
        background-color: #919eab29;
        .active {
            background-color: var(--primary-background-color);
            color: white;
        }
    }
    .icon {
        position: absolute;
        right: 0;
        font-size: 30px;
        color: var(--primary-background-color);
    }
    &.justifyLeft {
        justify-content: left;
        &:hover {
            cursor: pointer;
        }
    }
    &.totalPrice {
        border-top: 1px solid #919eab29;
        padding: 5px 0;
        font-weight: 600;
        color: black;
        span {
            font-weight: 600;
        }
    }
}
