.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    padding: 15px;
    margin-top: 30px;


    .topFooter {
        max-width: var(--layout-width-content);
        display: flex;
        flex-basis: 25%;
        justify-content: space-between;
    }

    .boxInfor {
        display: flex;
        flex-direction: column;
        width: 100%;

        .title {
            font-size: 16px;
            margin-bottom: 12px;
            color: #363636;
            font-weight: 600;
        }

        .content {
            font-size: 12px;

            .linkList {
                list-style: none;
                padding-left: 10px;

                &.icons {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: stretch;
                    gap: 5px;

                    img {
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        max-width: 50px;
                        height: 100%;
                    }

                    .link {
                        margin-bottom: 0;
                        font-size: 30px;
                    }
                }

                .link {
                    margin-bottom: 5px;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }

            }
        }
    }

    .botFooter {
        width: 100%;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .container {
            min-width: var(--layout-width-content);
            display: flex;
            flex-basis: 25%;
            justify-content: space-between;
            padding: 15px;

            .boxInfor {
                font-size: 10px;
                padding: 12px;
            }
        }

    }
}

@media(max-width:450px) {
    .wrapper {
        .topFooter {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }
    }
}