.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;

    &.backgroundGray {
        background-color: #f4f6f8;
    }
}

#backToTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    position: fixed;
    bottom: 100px;
    right: calc(50% - 630px);
    height: 45px;
    width: 45px;
    padding: 2px;
    opacity: 1;
    font-size: 10px;
    color: aliceblue;
    background-color: rgba(215, 0, 24, 0.7);
    cursor: pointer;

    .icon {
        font-size: 15px;
    }
}

.container {
    min-height: 1000px;
    max-width: var(--layout-width-content);
    width: 100%;

    // background-color: #ccc;
    .content {
        margin-top: 15px;
    }
}

@media(max-width:1024px) {
    .container {
        padding: 0 15px;
    }
}