.productItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-width: 232px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    text-decoration: none;
    color: #444;

    .percentOffRibbon {
        display: none;
        background: url('../assets/img/percentOffRibbon.svg') 50% no-repeat;
        position: absolute;
        height: 31px;
        width: 80px;
        top: -1px;
        left: -4px;

        &.active {
            display: block;
        }

        .percentOffDetail {
            font-size: 12px;
            color: #f3f4f6;
            font-weight: 500;
            text-align: center;
            padding-top: 3px;

        }
    }

    .productImg {
        display: flex;
        justify-content: center;
        margin-top: 12px;

        img {
            width: 100%;
        }
    }

    .productDetails {
        display: flex;
        flex-direction: column;
        height: 100%;

        .productName {
            font-size: 13px;
            font-weight: 600;
        }

        .productPrices {
            font-size: 10px;

            .activePrice {
                font-size: 14px;
                color: var(--primary-background-color);
                font-weight: bold;
            }

            .oldPrice {
                display: none;
                color: #444;
                font-size: 12px;
                text-decoration: line-through;
                margin: 0 0 10px 10px;

                &.active {
                    display: inline-block;
                }
            }
        }

        .productPeferential {
            display: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 5px;
            font-size: 10px;
            background-color: #f3f4f6;
            max-width: 100%;

            &.active {
                display: block;
            }

            p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        .productRate {
            color: #f59e0b;
            height: 100%;
        }
    }

    .wishListBtn {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .wishListIcon {
            font-size: 30px;
            color: var(--primary-background-color);
        }
    }
}